<h2>description </h2>

 <!---{{#myProjects}} <!--this is how to loop over an array (if its an object we would write #each teachers ) 
       <a href= '{{directory}}/'> 
       <p>{{description}}</p>
     <div class="sidenav"> <h2> {{title}} </h2></div>
       </a>
       
       
      
{{/myProjects} -->
{{>projList}}
