.container {
    margin: 0%;
    display: grid;
    min-height: 100vh; /* min height allows the possibility of doocument growing*/
    grid-template-columns: 150px 1fr 150px; /*this makes 3 columns, 1fr takes up the fraction of the space that is empty and is responsive but the outside ones stay the same size*/
    grid-template-rows: 100px 1fr 100px;
    gap: 10px;
}

header {
    background-color: aqua;
    grid-column: 1 / 4;
}

footer {
    background-color: aqua;
}
main {
    background-color: burlywood;
}
.left-sidebar,
.right-sidebar {
    background-color: blueviolet;
}
