textarea,
#texthere {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 29%;
    font-size: medium;
    padding: 10px;
    line-height: 10px;
    border-radius: 3px;
    border: 3px solid greenyellow;
}
