textarea,
#texthere {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 29%;
    font-size: medium;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 10px;
    line-height: 10px;
    border: 5px solid rgb(250, 3, 56);
}
