body {
    margin: 0mm;
}

#ticker {
    position: relative;
    /*border: 3px pink dotted;*/
    overflow: hidden;
    height: 1.5em;
}

#headlines {
    position: absolute;
    white-space: nowrap;
    top: 0%;
    left: 100%;
}

#headlines a {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: black;
    text-decoration: none;
    padding-right: 30px;
}
