 
 <body>
        
    
        {{#myProjects}} <!--this is how to loop over an array (if its an object we would write #each teachers ) -->
       <a href= '/projects/{{directory}}/'> 
        {{#if ../screen}} <img src="/{{directory}}/screenshot.jpg"> {{/if}}  
       
       <h2> {{title}} </h2>  
       </a>
       
      
{{/myProjects}} 
  



</body>