* {
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 245, 245);
    color: rgb(2, 2, 2);
}
header {
    position: relative;
    padding: 10px;
    background-color: rgb(252, 250, 250);
    height: 70px;
}

#logo {
    height: 50px;
    width: 50px;
    float: left;
}
#menu {
    height: 50px;
    width: 50px;
    float: right;
}
img {
    height: 50px;
    position: fixed;
}
#spiced {
    position: relative;
}
img[alt="spices"] {
    height: 99%;
    width: 99%;
}
