* {
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 40, 40);
    color: white;
}
header {
    padding: 10px;
    margin: 20px;
    background-color: rgb(102, 82, 82);
    border: 1px dashed;
    height: 70px;
}

#logo {
    height: 50px;
    width: 50px;
    background-color: rgb(238, 18, 172);
}
#menu {
    height: 50px;
    width: 50px;
    background-color: rgb(238, 135, 18);
}
