<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>MY WORK</title>
</head>

 <h1>WORK SAMPLES</h1>
    <H3>a selection of work by Ash Gowriluk</H3>
   
<body>
    
   
    {{{body}}}

    <footer>
       <em>"the body is meat the mind is unlimited, dive into the ecstasy of metaphysical existence, you are the architect of your own utopia." inDreams.inc </em>
    </footer>
</body>
</html>